<div class="header" fxLayout="row">
  <div fxFlex="50%">
    <a routerLink="">home</a>
  </div>
  <div fxFlex="50%" fxLayoutAlign="end">
    <span i18n>🇺🇸</span>
  </div>
</div>
<div class="slide">
  <h2 i18n>i18n $localize</h2>
  <div fxLayout="row">
    <div class="code" fxFlex="50%">
      <markdown lineNumbers [data]="htmlTemplate"></markdown>
      <markdown lineNumbers [data]="tsLocalize"></markdown>
      <markdown lineNumbers [data]="xliffEg"></markdown>
    </div>
    <div class="example" fxFlex="50%" [formGroup]="form">
      <h2 i18n>What's your Ramones name?</h2>
      <label i18n>Enter your name: </label>
      <input formControlName="name" type="text" placeholder="Name" i18n-placeholder>
      <div *ngIf="form.get('name')?.value as name">
        <h3 i18n>Your Ramones name is:</h3>
        <h4 i18n>{{ name }} Ramone {{ ramoneEndings[name.length] }}</h4>
      </div>
    </div>
  </div>
</div>
<div class="footer" fxLayout="row">
  <div fxFlex="50%">
    <a i18n-href href="http://localhost:3337/greetings" i18n>previous</a>
  </div>
  <div fxFlex="50%" fxLayoutAlign="end">
    <a i18n-href href="http://localhost:2337/quiz" i18n>next</a>
  </div>
</div>
