<div class="header" fxLayout="row">
  <div fxFlex="50%">
    <a routerLink="">home</a>
  </div>
  <div fxFlex="50%" fxLayoutAlign="end">
    <span i18n>🇺🇸</span>
  </div>
</div>
<div class="slide" fxLayout="row">
  <div class="code" fxFlex="50%">
    <pre>

    </pre>
  </div>
  <div class="example" fxFlex="50%">
    <h2 i18n>What's your Ramones name?</h2>
  </div>
</div>
<div class="footer" fxLayout="row">
  <div fxFlex="50%">
    <a i18n-href href="http://localhost:3337/greetings" i18n>previous</a>
  </div>
  <div fxFlex="50%" fxLayoutAlign="end">
    <a i18n-href href="http://localhost:2337/quiz" i18n>next</a>
  </div>
</div>
