.app-demo {
  .slide * {
    font-size: 100pt;
  }
  h2,
  ul,
  li {
    text-align: center;
  }
  .strike {
    text-decoration: line-through;
  }
  .underline {
    text-decoration: underline;
  }
}
