<div [ngClass]="headerClass" fxLayout="row">
  <div fxFlex="50%">
    <a routerLink="">home</a>
  </div>
  <div fxFlex="50%" fxLayoutAlign="end">
    <span i18n>🇺🇸</span>
  </div>
</div>
<div class="slide">
  <h2 (click)="incDemo()">Demo</h2>
  <ul style="margin-left: 100px">
    <li [ngClass]="{'strike': demoClicked > 0 }">i18n in template</li>
    <li [ngClass]="{'strike': demoClicked > 1 }">i18n in TypeScript</li>
    <li [ngClass]="{'underline': demoClicked > 2 }">build and deployments</li>
  </ul>
</div>
<div [ngClass]="footerClass" fxLayout="row">
  <div fxFlex="50%">
    <a i18n-href href="http://localhost:1337/team-canada" i18n>previous</a>
  </div>
  <div fxFlex="50%" fxLayoutAlign="end">
    <a i18n-href href="http://localhost:1337/build" i18n>next</a>
  </div>
</div>
