<div class="header" fxLayout="row">
  <div fxFlex="50%">
    <a routerLink="">home</a>
  </div>
  <div fxFlex="50%" fxLayoutAlign="end">
    <span i18n>🇺🇸</span>
  </div>
</div>
<div class="slide" fxLayout="row">
  <div class="code" fxFlex="50%">
    <pre>

    </pre>
  </div>
  <div class="example" fxFlex="50%" fxLayoutAlign="end">
    <ul>
      <li i18n>Hello, how are you?</li>
      <li i18n>Hi, nice to meet you.</li>
    </ul>
  </div>
</div>
<div class="footer" fxLayout="row">
  <div fxFlex="50%">
    <a i18n-href href="http://localhost:3337/" i18n>previous</a>
  </div>
  <div fxFlex="50%" fxLayoutAlign="end">
    <a i18n-href href="http://localhost:2337/intro" i18n>next</a>
  </div>
</div>
